header {
	background-image: url('../img/header.png');
}

.back-arrow {
	color: #F05F40;
	text-align: center;
	font-size: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 1em;
}


/* Flashcard Page */

.flashcard {
	margin: auto;
	height: 300px;
	width: 560px;
	padding-top: 110px;
	background: #F05F40;
	border-radius: 5px;
}

.flashcard-transition-left {
	margin-right: 180px;
	font-size: 2em;
}

.flashcard-transition-right {
	margin-left: 180px;
	font-size: 2em;
}

.translate {
	display: block;
	font-size: 2em;
	margin-top: 20px;
	color: white;
}

.translate:hover {
	color: white;
}


/* Language Select Styles */

#language-select {
	text-align: center;
}

#language-select ul {
	list-style: none;
	padding: 0;
}

#language-select ul li {
	display: block;
	height: 50px;
	width: 300px;
	margin: 25px auto;
	background: #F05F40;
	border-radius: 5px;
}

#language-select ul li a {
	display: block;
	height: 100%;
	width: 100%;
	color: white;
	font-size: 1.4em;
	padding-top: 10px;
	text-decoration: none;
}


/* Contents Page Styles */

#customization {
	text-align: center;
}

#customization ul { 
	list-style: none;
	padding: 0;
}

#customization ul li {
	display: inline-block;
	height: 180px;
	width: 180px;
	background: #F05F40;
	margin: 10px;
	border-radius: 5px;
}

#customization ul li a {
	display: block;
	height: 100%;
	width: 100%;
	color: white;
	font-size: 1.4em;
	padding-top: 1em;
	text-decoration: none;
}


/* Dashboard Styles */

.title {
	font-size: 2.5em;
	text-align: center;
	margin: 1em;
}

.left, .right {
	float: left;
	width: 50%;
}

.left {
	text-align: right;
	padding-right: 25px;
}

.right {
	text-align: left;
	padding-left: 25px;
}

#chartContainer1 {
	width: 45%;
	height: 300px;
	width: 500px;
	display: inline-block;
	margin-bottom: 30px;
}

#chartContainer2 {
	width: 45%;
	height: 300px;
	width: 500px;
	display: inline-block;
	margin-bottom: 30px;
}

#chartContainer3 {
	width: 45%;
	height: 300px;
	width: 500px;
	display: inline-block;
	margin-bottom: 30px;
}

#chartContainer4 {
	width: 45%;
	height: 300px;
	width: 500px;
	display: inline-block;
	margin-bottom: 30px;
}
